body {
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: auto;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media (min-width: 768px) {
    .dl-horizontal dd {
        margin-left: 100px;
    }
}

.django-ckeditor-widget {
    display: block !important;
}